@page
@model _603_Dynamic_Web_Tech_Assessment_1___JBC.Pages.Movies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Overview)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Overview)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Price)
        </dd>
    </dl>
</div>

@if (Model.PosterUrl != null && Model.PosterUrl != "N/A")
{
    <div>
        <img src="@Model.PosterUrl" alt="Movie Poster" style="max-width:300px;" />
    </div>
}
else
{
    <div>
        <p>No poster available.</p>
    </div>
}

<h3>Cast Members</h3>
@if (Model.CastMembers.Any())
{
    <ul>
    @foreach (var cast in Model.CastMembers)
    {
        <li>@cast.FirstName @cast.LastName (@cast.ScreenName)</li>
    }
    </ul>
}
else
{
    <p>No cast members found for this movie.</p>
}

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Movie.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
